[package]
name = "shell"
version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }
userlib = { path = "../userlib" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
